/*OVERALL SITE*/
body, div {
    margin: 0;
    padding: 0;
}

#container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}

/*SMOOTH SCROLL HAMBURGER START*/
.topnav {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #7d7060;
    color: white;
    font-family: helvetica, sans-serif;
}

.topnav a {
    display: inline-block;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-weight:400;
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding-top: 25px;
    padding-bottom: 11px;
    padding-right: 25px;
    padding-left: 25px;
}

.topnav {
    overflow: hidden;
}
.topnav a:hover {
    font-family:helvetica, sans-serif;
    color:#184031;
} 

#nav_bar .icon {
  display: none;
}
/*SMOOTH SCROLL HAMBURGER FINISH*/

/*NAVIGATION BAR*/

#logo {
    float:left;
    position: relative;
    margin-left:3%;
    margin-top:-10px;
    width:0pt;
}


#nav_bar {
    position: fixed;
    width: 100%;
    z-index: 1;
}


/*BODY*/

h2 {
    margin: 0;
    margin-left:4.5%;
    padding: 0;
    font-family: operetta-18, serif;
    font-weight: 600;
    font-style:normal;
    font-size:40pt;
    color:#235B44;
}

h3 {
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:21pt;
    margin-left:5%;
    color:#235B44;
}

h4 {font-family: operetta-18, serif;
    font-weight: 600;
    font-style:normal;
    font-size:13pt;
    margin-left:5%;
    color:#235B44;
}

p {
    color: #235B44;
    font-family: helvetica-light, sans-serif;
    font-weight:100;
    font-style:normal;
    font-size:14pt;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 20pt;
}

h5 {
    color: white;
    font-family: helvetica-light, sans-serif;
    font-weight:100;
    font-style:normal;
    font-size:8;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/*HOME*/

#section1 {
    /*background-image: url(images/woodentree.jpg);
    background-repeat: no-repeat;
    background-size:100%;*/
    position: relative;
    color: #FFF7E8;
    height: 950px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}


    #HomeSaying1 {
    position: absolute;
    text-align:left;
    top: 350px;
    margin-left: 5%;
    color:#235B44;
    font-family: operetta-18, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px; 
}

    #HomeSaying2 {
    position: absolute;
    text-align: left;
    top: 430px;
    margin-left: 5%;
    color:#235B44;
    font-family: operetta-18, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
}
    
    #button_shopnow .button {
    position: absolute;
    top: 580px;
    margin-left: 5%;
    border-radius: 38px;
    border:2px solid #235B44;
    color: #235B44;
    background:none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:18pt;
}

    #button_shopnow .button:hover {
    background-color: #235B44;
    color: white;
}

#CoverImage2{
    display:none;
}
    

/*ABOUT*/

#section2 {
    height: 800px;
    color: #FFFDF9;
    margin: 0;
    margin-top: 6%;
    padding: 0;
    padding-top: 6%;
}

    #introducing_wood_could {
    width:30%;
    float:left;
    margin-left:3.3%;
    margin-right:1%;
    margin-bottom:3%;
}

    #history {
    float:left;
    width:62%;
    margin-right:3.3%;
}
    #timeline {
    float:left;
    margin-left:5%;
    margin-right:5%;
    width:70%;
}


/*WHY INDOOR AIR*/

#section3 {
    background-color:#FFF2D8;
    background-size:100%;
    height: 750px;
    margin: 0;
    /*margin-top: 3%;*/
    padding: 0;
    padding-top: 6%;
    padding-bottom:3%;
}

    #Fact1 {
    float:left;
    width:30%;
    margin-left:3.3%;
    margin-right:1.5%;
    margin-bottom:3%;
}

    #Fact2 {
    float:left;
    width:30%;
    margin-right:1.5%;
}

    #Fact3 {
    float:left;
    width:30%;
    margin-right:3.3%;
    margin-bottom:2%;
}

    #pet_odor{
    float:left;
    width:13%;
    margin-left:3.3%;
    margin-top:5%;
}

    #mold{
    float:left;
    width:13%;
    margin-left:3.3%;
    margin-top:5%;
}

    #smoke{
    float:left;
    width:13%;
    margin-left:3.3%;
    margin-top:5%;
}

    #allergies{
    float:left;
    width:13%;
    margin-left:3.3%;
    margin-top:5%;
}

    #asthma{
    float:left;
    width:13%;
    margin-left:3.3%;
    margin-top:5%;
}

    #chemicals
    {float:left;
    width:13%;
    margin-left:3.3%;
    margin-top:5%;
}

    #wave {
    background-color: #FFFDF9;
}


/*FEATURES*/

#section4 {
    height: 800px;
    background-color: #FFFDF9;
    margin: 0;
    padding: 0;
    padding-top: 6%;
    padding-bottom:3%;
}

    #how_wood_could_works {
    float:left;
    width:30%;
    margin-left:3.3%;
    margin-bottom:3%;
}

    #features_photo {
    float:left;
    width:60%;
    margin-left:0%;
    margin-right:3.3%;
}

    #wood_could_features {
    float:left;
    width:33.3%;
    margin-left:3.3%;
    margin-top:-20%;
}


/*USER STORIES*/

#section5 {
    background-color:#FFF2D8;
    position:relative;
    height: 900px;
    margin: 0;
    padding: 0;
    padding-top: 6%;
    padding-bottom: 5%;
}

    #stories_intro {
    float:left;
    position:relative;
    width:30%;
    height: 830px;
    margin-left:3.3%;
    margin-bottom:3%;
}

    #text_name {
    margin-top:5%;
}

    #image_experience1 {
    margin-left:3%;
}

    #image_experience2 {
    margin-left:3%;
}

    #image_experience3 {
    margin-left:3%;
}

    #button_submitexperience {
    margin-top: 1.5%;
}
 
    #icon_sarahandpaul {
    float:right;
    margin-left:5%;
    margin-top: 50px;
    width: 60%;
    position:relative;
    height:220px;
}

    #text_sarahandpaul {
    float: right;
    position:absolute;
    margin-left: 50%;
    margin-top: 140px;
    width: 35%;
}

    #button_sarahandpaul .button {
    position: absolute;
    margin-left: 18.5%;
    margin-top: 240px;
    border-radius: 28px;
    border:2px solid #235B44;
    color: #235B44;
    background:none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:12pt;
}

    #icon_mitchell {
    position:relative;
    width:59%;
    float:right;
    margin-top: 100px;
}

    #text_mitchell {
    float: right;
    position: absolute;
    margin-left: 50%;
    margin-top: 460px;
    width: 35%;
}

    #button_mitchell .button {
    position: absolute;
    margin-left: 18.2%;
    margin-top: 580px;
    border-radius: 28px;
    border: 2px solid #235B44;
    color: #235B44;
    background:none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:12pt;
}

    #button_submitexperience .button {
    margin-left:350px;
    margin-top:10px;
    border-radius: 38px;
    border:none;
    background:#235B44;
    padding: 10px 20px;
    color: #FFF2D8;
    text-align: center;
    text-decoration: none;
    font-size:12pt;
}


/*PURCHASE HEADER*/
    #section55 {
    background-color:#A69580;
    height: 120px;
    position: relative;
    padding:0;
    margin:0;
    padding-top: 45px;
    padding-bottom: 15px;
}

    #shipping {
    position: absolute;
    margin-left: 30.5%;
    width:60px;
}

    #shipping_text {
    position:absolute;
    text-align: center;
    margin-left:27%;
    padding-top:32px;
    line-height: 25px;
}

    #trial {
    margin-left:48.95%;
    position: absolute;
    margin-top: -4px;
    width:50px;
}

    #trial_text {
    position:absolute;
    text-align: center;
    margin-left:46%;
    padding-top:32px;
    line-height: 25px;
}

    #warranty {
    position:absolute;
    margin-left:68.25%;
    width:50px;
    margin-top:-3px;
}

    #warranty_text {
    text-align: center;
    margin-left:35%;
    padding-top:32px;
    line-height: 25px;
}


/*PURCHASE*/

#section6 {
    background-color: #FFFDF9;
    height: 1100px;
    margin: 0;
    padding: 0;
    padding-top: 6%;
    padding-bottom: 5%;
}

    #purchaseimage {
    width: 63.1%;
    float: left;
    margin-top: 2.5%;
}

    #Purchase {
    width: 30%;
    float: left;
    margin-left: 3.3%;
    margin-right: 3.3%;
    margin-top: 1.2%;
}

    #button_purchase .button {
    position: absolute;
    margin-left: 10.5%;
    margin-top: 50px;
    border-radius: 38px;
    border:none;
    background:#235B44;
    padding: 15px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:15pt;
}

    #iconspurchase {
    text-align:center;
    margin-top: 150px;  
}


/*OUR TEAM*/

#section7 {
    background-color:#FFF2D8;
    height:530px; 
    margin: 0;
    padding: 0;
    padding-top: 6%;
    padding-bottom: 5%;
}

    #Renee_Profile_Photo {
    width:10%;
    margin-left:5%;
    margin-top:3%;
}

    #Renee {
    float: left;
    text-align: left;
    width: 30%;
    margin-left: 3.5%;
}

    #Polina_Profile_Photo {
    position: absolute;
    float:right;
    width:20%;
    margin-top:3%;
    margin-left:38%;
}

    #Polina {
    position: absolute;
    float: right;
    width: 30%;
    margin-left: 36.6%;
}


/*FOOTER*/

#section8 {
    background-color:#A69580;
    height: 260px;
    margin: 0;
    padding: 0;
    padding-top:50px;
}

    #wave3 {
    margin-top: 310px;
}

    #Questions {
    float:left;
    width: 30%;
    margin-left: 3.3%;
    margin-top:70px;
}

    #needsupport {
    float:left;
    width: 30%;
    margin-left: 3.3%;
    margin-top:70px;
}

    #button_helpplease .button {
    margin-left:26px;
    border-radius: 38px;
    border:none;
    background:white;
    padding: 10px 20px;
    color: #A69580;
    text-align: center;
    text-decoration: none;
}

    #contactus {
    width:130px;
    padding-left: 3.3%;
}

#button_contactus .button {
    margin-left:26px;
    border-radius: 38px;
    border:none;
    background:white;
    padding: 10px 20px;
    color: #A69580;
    text-align: center;
    text-decoration: none;
}

    #help {
    width:130px;
    padding-left: 4% ;
}

    #findus {
    float:left;
    width: 30%;
    margin-left: 3.3%;
    margin-top:70px;
}

    #socialmedia{
    width:30%;
    text-align: center;
    float:left;
    margin-left:3.3%;
}

    #twitter {
    float:left;
    width:30px;
    margin-left: 4%;
}

    #instagram {
    float:left;
    width:30px;
    margin-left: 3.3%;
}

    #facebook{
    float:left;
    width:30px;
    margin-left: 3.3%;
}

    #mail1 {
    float:left;
    width:30px; 
    margin-left: 3.3%;
}

    #mail2{
    float:left;
    width:30px;
    margin-left: 3.3%;
}



/*MOBILE CODE*/

/* Smooth Scroll and Hamburger Menu */
@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
    .topnav a:first-child {
    float:left;
    padding-left: 20px;
}
    
  .topnav a.icon, #nav_bar a.icon {
    float: right;
    display: block;
}
    
  .topnav.responsive {
    position: relative;
}
    
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
}
    
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding-left: 20px;
}
    
    
/*BODY*/
    
p{
    font-size:18px;
    line-height: 26px;
}

h2{
    font-size:40px;
}

h3{
    font-size:25px;   
}
    
h4{
    font-size:20px
}

    
/*LOGO*/
    #logo {
    margin-left:0%;
    margin-right:86%
}
    
        
/*HOME PAGE*/
    
    #section1 {
    height: 550px;
    width:133%;
}
        
    #HomeSaying1 {
    font-size: 50px;
    width:60%;
    top: 31%;
    line-height: 70px;
}
    
    #HomeSaying2{
    display:none;
}
    
    #CoverImage1{
    display:none;
}
    
    #CoverImage2 {
    display:contents;
}
    
    #button_shopnow .button {
    position: absolute;
    top: 410px;
    margin-left: 5%;
    border-radius: 38px;
    padding: 10px 30px;
    font-size:14pt;
}
    
    
    /*ABOUT*/
    
    #section2{
    height: 1100px;
    padding-top:90px;
    margin-top:0%;
    width:133%;
}
    
    #introducing_wood_could{
    float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 3%;
}
    
    #history{
    float:none;
    width:100%;
    margin-right:auto;
    padding-right:auto;
}
    
    #timeline{
    display:block;
    width:100%;
    margin-left:0px;
    margin-right:5%; 
}
    
    
    /*WHY INDOOR AIR*/
    
    #section3{
    margin-top:0%;
    padding-top:90px;
    height: 1650px;
    width:133%;
}
    
    #Fact1 {
    float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
    margin-top:3%;
}

    #Fact2 {
    float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
}

    #Fact3 {
    float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
    
    #pet_odor{
    float:left;
    width:45%;
    margin-left:3.3%;
    margin-right:auto;
    margin-top:5%;
}

    #mold{
    float:right;
    width:45%;
    margin-left:auto;
    margin-right:3.3%;
    margin-top:5%;
}

    #smoke{
    float:left;
    width:45%;
    margin-left:3.3%;
    margin-right:auto;
    margin-top:5%;
}

    #allergies{
    float:right;
    width:45%;
    margin-left:auto;
    margin-right:3.3%;
    margin-top:5%;
}

    #asthma{
    float:left;
    width:45%;
    margin-left:3.3%;
    margin-right:auto;
    margin-top:5%;
}

    #chemicals{
    float:right;
    width:45%;
    margin-left:auto;
    margin-right:3.3%;
    margin-top:5%;
}
    
    #wave{
    width:133%
}
    
    
/*FEATURES*/
    
    #section4{
    margin-top:0%;
    padding-top:90px;
    height: 950px;
    width:133%;    
}
    
    #how_wood_could_works {
    float:none;
    width:100%;
    margin-left:auto;
    margin-bottom:auto;
}
    
    #wood_could_features {
    width:100%;
    padding-top:5%;
    margin-left:auto;
    margin-top:auto;
}
    
    #features_photo {
    width:98%;
    text-align:center;
    margin-top:5%;
    margin-left:-3%;
    margin-right:0%;
}

    
    /*USER STORIES*/
    
    #section5{
    height:800px;
    margin-top:1%;
    padding-top:90px;
    width:133%;
}
    
    #stories_intro{
    float:none;
    width:100%;
    height:250px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 4%;
    padding-bottom:0%;
}
    
    #writeurexperience{
    display:none;
}
 
    #icon_sarahandpaul {
    float:left;
    margin-left:3%;
    margin-right:auto;
    width: 40%;
    position:relative;
    height:220px;
}

    #text_sarahandpaul {
    float: left;
    position:relative;
    width:50%;
    margin-left: 7%;
    margin-top: 0%;
}

    #button_sarahandpaul{
    display:none;
}
    #icon_mitchell {
    float:left;
    margin-left:3%;
    margin-right:auto;
    width: 40%;
    position:absolute;
    height:220px;
    margin-top: 190px;
}

    #text_mitchell {
    float: left;
    position:relative;
    width:50%;
    margin-left: 7%;
    margin-top: 6%;
}

    #button_mitchell {
    display:none;
}
    
    
/*PURCHASE HEADER*/
    
    #section55 {
    position: relative;
    margin-top:0;
    padding:0px;
    padding-top:0%;
    height:180px;
    width:133%;
}

    #shipping {
    float:left;
    margin-left:9%;
    width:70px;
    margin-top:40px;
}

    #shipping_text {
    position:absolute;
    text-align: center;
    width:140px;
    margin-left:0%;
    padding-top:70px;
    line-height: 30px
}

    #trial {
    margin-left:46%;
    position: absolute;
    width:55px;
    margin-top:35px;
}

    #trial_text {
    position:absolute;
    text-align: center;
    width: 140px;
    margin-left:35%;
    padding-top:70px;
    line-height: 30px;
}

    #warranty {
    position:absolute;
    margin-left:80%;
    width:60px;
    margin-top:35px;
}

    #warranty_text {
    text-align: center;
    margin-left:68%;
    padding-top:70px;
    line-height:30px;
}
    
    
/*PURCHASE*/
    
#section6 {
    height: 1200px;
    padding-top:90px;
    width:133%;
}

    #purchaseimage {
    width: 100%;
    float: left;
    margin-top: 2.5%;
}

    #Purchase {
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2%;
}

    #button_purchase .button {
    position: absolute;
    margin-left: 45%;
    margin-top: 50px;
    border-radius: 38px;
    border:none;
    background:#235B44;
    padding: 15px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:15pt;
}
    #iconspurchase {
    float:left;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25%; 
}
   

/*OUR TEAM*/

    #section7 {
    height:750px; 
    margin: 0;
    padding: 0;
    padding-top: 90px;
    padding-bottom: 5%;
    margin-bottom:0%;
    width:133%;
}

    #Renee_Profile_Photo {
    float:left;
    width:40%;
    margin-left:3%;
    margin-top:12%;
}

    #Renee {
    float: left;
    text-align: left;
    width: 50%;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

    #Polina_Profile_Photo {
    float:right;
    width:40%;
    margin-left:3%;
    margin-top:12%;
}

    #Polina {
    float: right;
    text-align:left;
    width: 50%;
    margin-right: 5%;
    margin-left:6%;
}

    
/*FOOTER*/
    
    #section8 {
    height: 300px;
    margin-top:-5%;
    width:133%
}
    
    #wave3{
    margin-top:678px;
    width:100%
    }
    
    #Questions {
    float:left;
    width: 42%;
    margin-left: 3.3%;
    margin-top:0px;
}

    #needsupport {
    float:right;
    width: 50%;
    margin-left: 3.3%;
    margin-top:0px;
}

    #button_contactus .button {
    margin-left:6px;
    border-radius: 8px;
    border:none;
    background:white;
    padding: 10px 20px;
    color: #A69580;
    text-align: center;
    text-decoration: none;
}

    #button_helpplease .button {
    margin-left:6px;
    border-radius: 8px;
    border:none;
    background:white;
    padding: 10px 20px;
    color: #A69580;
    text-align: center;
    text-decoration: none;
}

    #findus {
    display:none;
    
}
    #findustext{
    display:none;
    }

    #socialmedia{
    width:95%;
    text-align: center;
    float:left;
    margin-top:10%;
    }
    
    #twitter {
    float:center;
    text-align: center;
    width:40px;
    margin-left:22%;
}

    #instagram {
    float:left;
    width:40px;
    margin-left: 3.3%;
}

    #facebook{
    float:left;
    width:40px;
    margin-left: 3.3%;
}

    #mail1 {
    float:left;
    width:40px; 
    margin-left: 3.3%;
}

    #mail2{
    float:left;
    width:40px;
    margin-left: 3.3%;
}


}
